DATABASE_URL=postgresql+psycopg2://devops:devops@postgres:5432/environment
REDIS_URL=redis://redis:6379/0
COLLECTOR_INTERVAL_SECONDS=60
CITIES=Fortaleza,-3.7319,-38.5267;Sao Paulo,-23.5505,-46.6333;Manaus,-3.1190,-60.0217;Rio de Janeiro,-22.9068,-43.1729;Recife,-8.0476,-34.8770
API_URL=http://api:8000
LOG_LEVEL=INFO
